<div class="wrapper_with_padding">
  <p id="notice">
    <%= notice %>
  </p>
  <p>
    <strong>Title:</strong>
    Guardian

    
    <div class="landscape">
      <img src="<%= current_user.selfieurl %>"/>
    </div>
  </p>
  <div id="todo_items_wrapper">
    <table id="customers">
      <tr>
        <th>Named</th>
        <th>Status</th>
      </tr>
      <%= render @objArray %>
    </table>
  </div>
  <%= link_to 'Add Picture', dashboard_edit_path(@user), method: :post %>
</div>
