#banner
	.banner_content
		%h1 Guardian
		%p Saftey for all
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h1 Security
				%p2 Security is important! use one of our out of the box systems or contact us for a security soloution bespoke to your needs.

#bottom_cta
	.wrapper
		%h2 Go Ahead
		%br
		%button= link_to "Join Now", new_user_registration_path