#banner
	.banner_content
		%h1 Guardian
		%p Saftey for all
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Orginize
				%p2 Next level narwhal semiotics salvia, authentic keytar drinking vinegar polaroid poke. Fingerstache dreamcatcher taxidermy next level, brunch pok pok af cold-pressed microdosing tilde deep v vaporware direct trade truffaut. Mustache glossier pug ennui williamsburg. Meh hot chicken waistcoat before they sold out austin, health goth art party heirloom poke godard slow-carb pork belly next level. Twee vexillologist try-hard celiac selfies fashion axe. Meggings seitan cornhole wayfarers la croix salvia. Paleo glossier chicharrones hell of activated charcoal, keffiyeh knausgaard mlkshk pabst austin lyft.

#bottom_cta
	.wrapper
		%h2 Go Ahead
		%br
		%button= link_to "Join Now", new_user_registration_path